.date-label{
  font-weight: bold;
  font-size: 18px;
}
.title{ 
  margin: 20px 0px;
  font-size: 35px;
  letter-spacing: 10px
}
.text-empty{
  font-weight: bold;
  font-size: 40px;
  margin-top: 80px;
}
.loading3{
  margin-top: 80px !important;
  p{
    font-size: 25px;
  }
}